* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

img.img-auto {
  width: auto;
}

header .navbar {
  padding: 0.5rem 0;
}

.copyright-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  background-color: #000;
  color: #fff;
}
.posts .post > * {
  margin: 0.8rem 0;
}
.posts .post-title {
  text-transform: capitalize;
  font-size: 1.8rem;
}

.posts .post .post-body {
  color: #555;
  line-height: 1.7;
  font-size: 1.175rem;
}

.post i {
  margin-right: 0.3rem;
  color: #999;
}
