* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.copyright-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

nav ul > li {
  padding: 0.5rem 0.8rem;
}
