* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

img.img-auto {
  width: auto;
}

header .navbar {
  padding: 0.5rem 0;
}

.copyright-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  background-color: #000;
  color: #fff;
}
.posts .post > * {
  margin: 0.8rem 0;
}
.posts .post-title {
  text-transform: capitalize;
  font-size: 1.8rem;
}

.posts .post .post-body {
  color: #555;
  line-height: 1.7;
  font-size: 1.175rem;
}

.post i {
  margin-right: 0.3rem;
  color: #999;
}

.single-post ul,
.single-post ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.single-post .comments-list {
  background-color: #bbb;
  padding: 1.5rem 0.7rem;
}

.single-post .comments-list img {
  width: auto;
}

.single-post .comment-respond form label {
  display: block;
}

.single-post .comment-respond form .form-submit input[type="submit"] {
  background-color: #495f47;
  color: #fff;
  padding: 0.6rem 1rem;
  border: 1px solid #eee;
  border-radius: 7px;
}

.single-post .comments-list .children {
  padding: 0.7rem 1.5rem;
}

.single-post .comments-list .children {
  background-color: #ccc;
}
.single-post .comments-list .children .children {
  background-color: #eee;
}

.single-post .author-info p {
  margin: 0;
}

.img-avatar {
  width: auto;
  border-radius: 50%;
  border: 2px solid rgb(131, 131, 131);
}

/* AUTHOR PROFILE PAGE */
.author-profile .author-name {
  font-size: 7rem;
  word-wrap: break-word;
  text-transform: capitalize;
  color: #000;
}

.author-profile .description {
  font-size: 1.3rem;
}

.author-stats > div {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

/* Start Custom Pagination */
.custom-pagination .page-numbers {
  padding: 8px 15px;
  background-color: #bbb;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.25s ease;
}

.custom-pagination .page-numbers:hover {
  background-color: rgb(56, 133, 250);
  color: #fff;
}

.custom-pagination .current {
  background-color: rgb(56, 133, 250);
  color: #fff;
}
/* End Custom Pagination */
